.sidebar{
    display:flex;
    flex: 0.25;
    flex-direction: column;
}

.sidebar .sidebar__profile{

    border-bottom: 1px solid #ccc;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

.sidebar__profile img{
    width:100%;
    height:50px;
}